name: server

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: go generate
        run: go generate -v ./...

      - name: go build
        run: go build -v ./...

      - name: go test
        run: go test -v ./...
